/* General Section Formatino */
.product-container {
  display: flex;
  max-width: 50rem;
  max-height: 37.5rem;
  border: 1px solid;
}

/* Image Section */
.product-container__image {
  border: 1px solid red;
}

.product-container__image img {
  display: block;
  height: 100%;
  width: 100%;
  border-top-left-radius: 1.875rem;
}

/* Text Section */
.product-container__text {
  padding: 2rem;
  max-width: 50%;
  background: var(--color-sectionbg);
  border: 1px solid blue;
  border-bottom-right-radius: 1.875rem;
}

.product-container__text p:first-child {
  border: 1px solid;
  margin-bottom: 1.563rem;
}

.product-container__text h1 {
  border: 1px solid;
}

.product-container__text p:nth-of-type(2) {
  border: 1px solid;
}

.product-container__text h2 {
  border: 1px solid;
}

.product-container__text button {
  border: 1px solid;

}

/*Responsive Changes */
@media screen and (min-width: 901px) {
  .product-container__image img {
    border-bottom-left-radius: 1.875rem;
  }

  .product-container__text {
    border-top-right-radius: 1.875rem;
  }
}

@media screen and (max-width: 900px) {
  .product-container {
    align-items: center;
    flex-direction: column;
    max-height: fit-content;
  }

  .product-container__text {
    border-bottom-left-radius: 1.875rem;
  }

  .product-container__image {
    max-width: 50%;
  }

  .product-container__image img {
    border-top-right-radius: 1.875rem;
  }
}
