/* General Section Formatino */
.product-container {
  display: flex;
  max-width: 50rem;
  max-height: 37.5rem;
  padding: 1.563rem;
  border: 1px solid;
}

/* Image Section */
.product-container__image {
  border: 1px solid red;
  border-top-left-radius: 1.875rem;
  border-bottom-left-radius: 1.875rem;
  background-image: url("../../assets/image-product-desktop.jpg");
  background-size: cover;
  min-width: 50%;
  min-height: 34rem;
}

/* .product-container__image img {
  display: block;
  height: 100%;
  width: 100%;
  border-top-left-radius: 1.875rem;
} */

/* Text Section */
.product-container__text {
  padding: 2rem;
  max-width: 50%;
  background: var(--color-sectionbg);
  border: 1px solid blue;
  border-bottom-right-radius: 1.875rem;
}

.product-container__text p:first-child {
  border: 1px solid;
  margin-bottom: 1.563rem;
  color: var(--color-text);
  letter-spacing: 0.4rem;
  font-size: 1rem;
  font-family: var(--font-subtext);
  font-weight: bold;
}

.product-container__text h1 {
  margin-bottom: 1.6rem;
  font-family: var(--font-text);
  border: 1px solid;
}

.product-container__text p:nth-of-type(2) {
  border: 1px solid;
}

.product-container__text h2 {
  border: 1px solid;
}

.product-container__text button {
  border: 1px solid;
}

/*Responsive Changes */
@media screen and (min-width: 901px) {
  .product-container__image {
    border-bottom-left-radius: 1.875rem;
  }

  .product-container__text {
    border-top-right-radius: 1.875rem;
  }
}

@media screen and (max-width: 900px) {
  .product-container {
    align-items: center;
    flex-direction: column;
    max-height: fit-content;
  }

  .product-container__text {
    border-bottom-left-radius: 1.875rem;
  }

  .product-container__image {
    min-height: 20rem;
    background-position: center center;
    background-image: url("../../assets/image-product-mobile.jpg");
  }

  .product-container__image img {
    border-top-right-radius: 1.875rem;
  }
}
