@import url("https://fonts.google.com/specimen/Montserrat");
@import url("https://fonts.google.com/specimen/Fraunces");

:root {
  --font-family: "Montserrat", sans-serif;

  --color-bg: hsl(30, 38%, 92%);

  /* Text Colors */
  --color-headertext: hsl(212, 21%, 14%);
  --color-text: hsl(228, 12%, 48%);
  --color-sectionbg: hsl(0, 0%, 100%);
  --color-subtext: hsl(158, 36%, 37%);
}
